extends layout

.header
  block header
    a.button(href="/notes") Notes
    a.button(href="/users") Users
    a.button(href="/hashtags") Hashtags
    a.button(href="/news") News
    a.button#active(href="/features") Features
.sidebar-left
.main
  block main
.sidebar-right
.footer
  block footer
