extends layout

.header
  block header
    a.button(href="/notes") Notes
    a.button(href="/users") Users
    a.button(href="/hashtags") Hashtags
    a.button(href="/news") News
    a.button(href="/features") Features
.sidebar-left
.main
  block main
    form(method='POST' action='/')
          div
            label(for='username') username
            input(type='text' id='username' placeholder='username' name='username')
          div
            label(for='password') Password
            input(type='password' id='password' placeholder='password' name='password')
          button(type='submit') Log in 
.sidebar-right
.footer
  block footer
