doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  a.topic(href="/")
    #topic_notes Notes
    p.topic Храните ваши заметки у нас. Легко и просто.
  .header
    block header
  block content
